/*stylesheet for all pages that show users infor about highlight spots in a walk*/
h1 {
    color: rgb(0, 0, 0);
    font-family:"Koulen";
    font-size: 128px;
  }
h2 {
    color:#d76740;
    font-family: 'M PLUS Code Latin';
    font-size: 36px;
    background-color: #ecdb9f;
    display: inline-block;
    padding: 25px;
    cursor: pointer;
    border-radius: 12px;
  }
h2:hover{background-color: #FFF;}
h3 {
    color:#000000;
    font-family:"Koulen";
    font-size: 64px;
}
h4 {
    color:white;
    font-family:"Koulen";
    font-size: 18px;
}
h5 {
    color: #000000;
    font-family:"Koulen";
    font-size: 64px;
    line-height: 5px;
}
h6 {
    color:white;
    font-family: 'M PLUS Code Latin';
    font-size: 18px;
    line-height: 5px;
}
p {
    color: black;
    font-family: 'M PLUS Code Latin';
    font-size: 18px;
    overflow: normal;
  }
button {
    display: block;
    margin: 0 auto;
    border: 4px solid #ecdb9f;
    background-color: #fffd53;
    width: 70px;
    height: 70px;
}
button:hover{background-color: #FFF;}
.layout-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.layout-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.home-layout-left{position:absolute;top:35%;left:10%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.home-button-layout{position:absolute;top:50%;left:17.5%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.queens-layout-left{position:absolute;top:50%;left:13%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.full-map-button-layout{position:absolute;top:40%;left:15%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.text-center{text-align:center}
.location-intro{text-align: left;line-height: 5px;}
.text-black{color:#000000}
.button-text:hover{color: #d76740;text-decoration:none;background-color: white;display:flex;cursor: pointer;border-radius: 12px;}:link{color: #d76740;text-decoration: none;}:visited{color: #d76740;text-decoration: none;}
.profile-place{position: absolute;top: 20px;right: 20px;}
.setting-place{position:absolute;bottom: 20px;right: 20px;}
.home-place{position:absolute;top: 20px;left: 20px;}
div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 3px;
    background-color: #eedba0;
}
* {
    box-sizing:border-box;
  }
  .content {
    padding: 64px;
  }
  .row:after {
    content: "";
    display: table;
    clear:both;
  }
  .column-pic {
    float: left;
    width: 35%;
    height: 550px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .column-text {
    float: left;
    width: 65%;
    height: 550px;
    padding: 0px;
    line-height: auto;
    align-items:center;
    display:contents;
  }
  @media screen and (max-width: 1000px) {
    .column-pic,
    .column-text {
      width: 100%;
      text-align: center;
    }
  }
  .instruction{background-color: white;font-family:'M PLUS Code Latin';font-size: 36px;color: #e65d2f;text-align: center;padding: 5px;}
  

  .container {
    width: 25%;
    height: 70px;
    white-space: nowrap;
    margin-left: 37.5%;
  }
  .item {
    background-color: #fffd53;
    border: 2px solid #eedba0;
    width: 70px;
  }
  .flex {
    display: flex;
    flex-wrap: nowrap; 
    overflow: auto;
  }
  .flex-item {
    flex: 0 0 auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 80% 20%;
    overflow: scroll;
    max-height: 100%;
    column-gap: 30px;
    row-gap: 30px;
  }
  .photo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: scroll;
  }
  .detail {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-right: 30px;
  }
  .button1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
  background-color: #fff;
  padding: 10px;
  width: 60%;
  left: 20%;
  height: 60%;
  top: 20%;
  background: #FFF;
  border-radius: 2%;
  position: relative;
  overflow: scroll;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
.close:hover{color:#e65d2f;}
